div {
  margin: 0;
  padding: 0 0.5em 0 0.5em;
}
textarea {
  width: 100%;
}
.blue {
  background: #adadeb;
}
.green {
  background: #ADEBAD;
}
.pink {
  background: #ebadad;
}
div pre {
  padding: 0px;
  border: 0px;
  background: transparent;
}
