<!DOCTYPE HTML>
<html ng-app="NotebookApp">
<head>
  <title>Scrumple Notes</title>
  <link rel="stylesheet" href="css/bootstrap.min.css"/>
  <link rel="stylesheet" href="css/styles.css"/>
  <script type="text/javascript" src="jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="angular.min.js"></script>
  <script type="text/javascript" src="app.js"></script>
</head>
<body>
  <h2>Let's read some notes</h2>
  <div ng-controller="NotebookController as notebook">
    <div ng-repeat="note in notes"> 
      <p><note-widget></note-widget></p>
    </div>
    <p><button ng-click="notebook.toggleForm()">{{notebook.addNoteButtonTitle}}</button></p>
    <div id="newNoteForm" class="span4" ng-show="notebook.showForm">
      <p><note-form></note-form></p>
    </div>
  </div>
</body>
</html>
